<base href="/">
<link rel="stylesheet" href="assets/css/style.css">
<a href="/index.html" class="logo">
    <img src="/assets/img/vsec.gif" alt>
    <h1>Dr Virendra Swarup Education Centre</h1>
</a>
<ul class="menu-list">
    <li><a href="/index.html" class="active" onclick="toggleMenu()">Home</a></li>
    <li><a href="/index.html#about" onclick="toggleMenu()" >About</a></li>
    <li><a href="/pages/content.html#syllabus">Syllabus</a></li>
    <li><a href="/index.html#gallery" onclick="toggleMenu()">Gallery</a></li>
    <li><a href="/pages/contact.html">Contact</a></li>
    <li><a href="https://www.vsecnblock.com/ccav/">Pay Fee</a></li>
</ul>
<div class="humbarger" onclick="toggleMenu()">
    <div class="bar"></div>
    <div class="bar2 bar"></div>
    <div class="bar"></div>
</div>
  