<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<base href="/">

<div class="content-wrapper">
    <a href="/pages/content.html#holiday-homework"
        class="card top lt">
        <div class="card-text">Holiday HW</div><span
            style="color: rgb(255, 208, 0);" class="material-symbols-outlined">notes
        </span>
    </a>
    <a href="#notices" class="card top rt">
        <div class="card-text">Notices</div>
        <span style="color: rgba(121, 0, 190, 0.911);" class="material-symbols-outlined">
            south_east
        </span>
    </a>
    <a href="/pages/content.html#syllabus" class="card bot lt">
        <div class="card-text">Syllabus</div><span style="color: #ff0022;"
            class="material-symbols-outlined">
            note_stack
        </span>
    </a>
    <a href="https://www.vsecnblock.com/ccav/" class="card bot rt">
        <div class="card-text">Pay Fees</div><span
            style="color: rgb(0, 255, 34);" class="material-symbols-outlined">
            currency_rupee
        </span>
    </a>
</div>
