body.dark-theme,
body.light-theme {
  --secondary-accent: #00ff67;
  --bg-blue: #050013b2;
  --p-link: #fc7303;
  --m-background: #fc3903;
  --p-border: #333
}

.barr,
header {
  top: 0;
  left: 0
}

.notice-slide,
.title {
  backdrop-filter: blur(15px)
}

.card,
.card img,
.link,
.pdf-link,
.pdf-link.disabled {
  transition: .2s ease-in-out
}

.c-desc a,
.card,
.card span,
.link,
.menu-list li a,
.pdf-link {
  text-decoration: none
}

.banner,
.item,
.links,
.menu-list,
body.disabledScroll {
  overflow: hidden
}

.darkmd,
.humbarger,
.item img,
.menu-list li a,
.pdf-link,
span {
  cursor: pointer
}

.banner img,
.darkmd,
.pdf-link,
img {
  user-select: none
}

.barr,
body,
footer {
  background: var(--bg-primary)
}

.banner,
.banner img,
.count img,
.item img,
.left,
.left img {
  object-fit: cover
}

body.dark-theme {
  --bg-primary: #000;
  --bg-secondary: #161616;
  --bg-tertiary: #0f0f0f;
  --bg-quaternary: #1d1d1dc9;
  --text-color: #eee;
  --primary-accent: #fc3903;
  --menu-hover-background: #090011;
  --t-grey: #181818b7;
  --button-border: #3c3c3c;
  --s-text: #333;
  --scrollbar: #1d1d1d
}

body.light-theme {
  --bg-primary: #fff;
  --bg-secondary: #e7e7e7ce;
  --bg-tertiary: #f1f1f1;
  --bg-quaternary: #afafaf94;
  --bg-5: #f0f0f0a2;
  --text-color: #181818;
  --primary-accent: #00ff67;
  --menu-hover-background: #050013;
  --t-grey: #9b9b9bb7;
  --button-border: #e4e4e4e1;
  --s-text: #bbbbbb;
  --scrollbar: #aaaaaade
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-display: swap
}

html {
  scroll-behavior: smooth
}

body {
  width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  font-family: 'Space Grotesk', sans-serif
}

body::-webkit-scrollbar {
  width: 12px;
  background: var(--bg-secondary)
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, .7)
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border: 3px solid var(--bg-tertiary);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px
}

.darkmd,
.menu-list a.active {
  color: var(--bg-secondary);
  border-radius: 30px;
  padding: 12px 25px
}

.loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  pointer-events: none
}

.barr {
  z-index: 4;
  width: 25vw;
  height: 100%;
  position: relative
}

.darkmd,
.humbarger .bar,
.link:hover,
.menu-list a.active {
  background: var(--text-color)
}

.nav-container,
nav {
  width: 100%;
  height: 70px
}

.darkmd,
header {
  position: fixed
}

header {
  width: 100%;
  z-index: 100
}

nav {
  background: var(--bg-5);
  backdrop-filter: blur(150px);
  border-bottom: .5px solid var(--s-text)
}

.darkmd {
  bottom: 1rem;
  right: 1.5rem;
  z-index: 9999999
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  position: relative;
  top: 0
}

.logo {
  margin-left: 20px;
  display: flex
}

.logo h1 {
  color: var(--text-color);
  font-size: 20px;
  float: right;
  width: 200px;
  line-height: 16px;
  margin-top: 15px;
  margin-left: 13px
}

.logo img {
  position: relative;
  width: 65px;
  height: 65px
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  z-index: 100;
  float: right;
  margin: 0
}

.humbarger,
.notice-slide {
  position: fixed;
  z-index: 1000
}

.humbarger {
  top: 12.5px;
  right: 15px;
  margin-right: 20px;
  display: none;
  float: right;
  border: 2px solid var(--p-link);
  padding: 6px
}

.card,
.dropdown,
.links,
footer {
  display: flex
}

.humbarger .bar {
  width: 20px;
  height: 2px;
  margin: 5px
}

.menu-list li a {
  color: var(--text-color);
  font-size: .75rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 40px 13px;
  margin-right: 0;
  transition: .4s ease-in-out
}

.menu-list li {
  height: 68px;
  text-align: center;
  line-height: 70px
}

.menu-list li a:hover {
  color: var(--primary-accent)
}

.banner {
  position: fixed;
  top: 70px;
  left: 0;
  width: 77%;
  height: 89vh;
  background: #000
}

.contactus img,
.drp,
.w100 {
  width: 100%
}

.banner img {
  width: 100%;
  height: 100%;
  opacity: .65
}

.title {
  position: fixed;
  top: 30vh;
  left: 5%;
  width: 30rem;
  font-weight: 900;
  font-family: Raleway, sans-serif;
  font-size: 2.1rem;
  color: #fff;
  background: var(--bg-blue);
  padding: 20px
}

.info-title,
.link {
  font-family: Raleway
}

.notice-slide {
  color: #111;
  background: var(--primary-accent);
  height: 38px;
  width: 100%;
  line-height: 38px;
  border: 0;
  bottom: 0;
  left: 0
}

.links {
  position: absolute;
  top: 49.5vh;
  left: 6.5%;
  width: 45.5%;
  height: 40px;
  padding: 0
}

.link {
  text-align: center;
  width: 25%;
  padding: 10px 0;
  border-right: 1.5px solid var(--text-color);
  color: #fff;
  font-size: 12px;
  background: var(--bg-blue);
  backdrop-filter: blur(150px);
  line-height: 20px
}

.card,
footer,
main {
  color: var(--text-color)
}

.link:last-child {
  border-right: 0
}

.link:hover {
  color: #00ff67
}

.sidebar {
  position: fixed;
  top: 70px;
  right: 0;
  width: 23%;
  height: calc(100vh - 70px);
  min-width: 220px;
  backdrop-filter: blur(70px);
  background: var(--bg-5);
  border-left: .2px solid var(--s-text);
  z-index: 100
}

.content-wrapper {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--bg-quaternary);
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column
}

.card {
  flex-grow: 1;
  width: 100%;
  border-bottom: 1px solid var(--s-text);
  padding: 1rem;
  font-size: 1.63rem;
  justify-content: space-between;
  align-items: center;
  text-align: left
}

.about.contactus,
.contact-wrapper {
  padding: 0;
  position: absolute;
  left: 0
}

.card span {
  text-align: right;
  font-size: 150%
}

.card-text {
  text-align: left;
  flex: 1;
  font-weight: 500
}

.pdf-link,
footer {
  text-align: center
}

.card:hover {
  background: var(--t-grey)
}

.card:nth-child(:nth-child(odd)) {
  clear: left
}

.card img {
  width: 3rem;
  height: 3rem
}

.card img:hover {
  transform: scale(1.3)
}

main {
  position: relative;
  top: 110vh;
  padding: 40px 40px 5rem;
  left: 0;
  width: 77%;
  backdrop-filter: blur(50px);
  background: var(--bg-secondary)
}

.contact-wrapper {
  top: 0;
  height: 100vh;
  width: 100%
}

.left,
.right {
  top: -4rem;
  position: relative
}

.about.contactus {
  top: 70px;
  width: 100%;
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap
}

.left {
  width: 30%;
  height: 500px
}

.left img {
  width: 100%;
  height: 100%
}

.right {
  width: 69%;
  padding: 30px;
  height: 100%;
  margin-bottom: 80px
}

.info-title,
.more-info {
  height: fit-content;
  background: var(--bg-quaternary);
  border-radius: 12px;
  padding: 20px;
  width: 100%
}

.more-info {
  columns: 3
}

.info-title {
  position: relative;
  font-size: 2.75rem;
  font-weight: 900;
  margin-bottom: 2rem;
  margin-top: 4rem
}

#pdfViewer,
.dropdown {
  margin-top: 20px
}

.info-title:nth-child(0) {
  margin-top: 0
}

span {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: var(--primary-accent)
}

.c-desc {
  columns: 2;
  font-size: 13px
}

.c-desc a {
  color: #818181
}

.juniors,
.sat,
.seniors {
  font-size: 1.2rem;
  font-weight: 900
}

.dropdown {
  justify-content: center
}

.content {
  columns: 5
}

#categoryDropdown,
#classDropdown,
#monthDropdown,
#streamDropdown {
  position: relative;
  top: 0;
  left: 0;
  padding: 8px 16px;
  font-size: 16px;
  background: var(--bg-secondary);
  height: 50px;
  color: var(--text-color);
  border: 1px solid var(--p-border);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 8px
}

#classDropdown {
  top: -20px
}

#categoryDropdown:focus,
#classDropdown:focus,
#monthDropdown:focus,
#streamDropdown:focus {
  outline: 0;
  box-shadow: 0 0 40px #222
}

.pdf-link.disabled {
  background: #363636;
  border: 2px;
  color: #fff
}

.pdf-link.disabled:hover {
  background-color: #202020
}

.pdf-link:hover {
  background-color: #9b9b9b
}

.pdf-link {
  display: block;
  top: 10px;
  left: -8px;
  width: 100%;
  position: relative;
  font-size: 16px;
  background-color: #d8d8d8;
  border: 1px solid #ccc;
  color: var(--p-border);
  margin: 30px 10px 10px;
  padding: 10px;
  border-radius: 5px;
  color: var(--p-border)
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 2fr));
  gap: 20px;
  max-width: 1200px;
  padding: 20px;
  width: 100%
}

.last {
  margin-bottom: 8rem
}

.item {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
  border-radius: 8px;
  border: 1px solid #555;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2)
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform .3s
}

.item:hover img {
  transform: scale(1.075)
}

footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 15px
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .sidebar {
    width: 25%
  }

  main {
    width: 75%
  }

  .more-info {
    columns: 2
  }

  .menu-list {
    width: 40%;
    position: relative;
    margin-right: 50px
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(40%, 2fr))
  }
}

@media only screen and (max-width:767px) {

  .left,
  .right {
    position: absolute
  }

  .link,
  .menu-list {
    text-align: center
  }

  .link,
  .notice-slide {
    color: var(--text-color)
  }

  .logo h1 {
    margin-left: 5px;
    font-size: 15px
  }

  .about.contactus {
    width: 100%;
    margin-bottom: 90px
  }

  .left {
    top: 0;
    flex: 1;
    width: 100%;
    height: 4rem
  }

  .left img {
    width: 100%;
    height: 15rem;
    object-fit: cover
  }

  .right {
    top: 13rem;
    flex: 1;
    padding: 30px;
    width: 100%
  }

  .menu-list,
  .page-head {
    position: absolute;
    top: 0;
    width: 100%
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr))
  }

  .menu-list {
    padding-top: 89px;
    height: 100vh;
    background: #00ff67;
    display: none;
    opacity: 0
  }

  @keyframes slideDown {
    0% {
      top: -100vh;
      border-bottom: 200px solid var(--primary-accent)
    }

    100% {
      top: 0;
      border-bottom: 0
    }
  }

  .menu-list.active {
    top: 80px;
    left: 0;
    opacity: 1;
    display: block;
    transition: .6s ease-in-out;
    background: var(--menu-hover-background);
    animation: .5s ease-in-out forwards slideDown
  }

  .menu-list a.active {
    background: #00000000;
    color: var(--primary-accent)
  }

  .humbarger,
  .menu-list li {
    display: block
  }

  .menu-list li a {
    display: block;
    padding: 25px;
    color: #ccc;
    font-family: Raleway;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
    transition: color .5s, padding .5s, background-color 1s
  }

  .menu-list li a:hover {
    color: var(--primary-accent);
    margin-top: 40px;
    transform: scale(1.2);
    padding: 10px;
    height: 60px;
    line-height: 40px;
    background: rgba(157, 187, 197, .2)
  }

  .page-head {
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 22px;
    background: #7a57e2
  }

  .links,
  .title {
    left: 0;
    position: absolute
  }

  .title {
    top: 15vh;
    width: 80%;
    max-width: 400px;
    font-weight: 900;
    font-family: Raleway, sans-serif;
    font-size: 2.1rem;
    background: var(--menu-hover-background);
    backdrop-filter: blur(15px);
    padding: 20px
  }

  nav {
    border: 0
  }

  .links {
    top: 0;
    width: 100%;
    height: 3.2rem;
    overflow: hidden;
    padding: 5px;
    display: flex;
    align-items: center;
    background: var(--bg-primary);
    border-bottom: .8px solid var(--primary-accent);
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: auto
  }

  .link {
    padding: 10px 15px;
    width: auto;
    text-decoration: none;
    font-size: 12px;
    background: var(--bg-tertiary);
    font-family: Raleway;
    line-height: 20px;
    transition: .2s ease-in-out;
    border-radius: 50px;
    border: .5px solid var(--p-border);
    margin-right: 4px;
    margin-left: 4px
  }

  .c-desc,
  .more-info {
    columns: 1;
    text-align: justify
  }

  .banner,
  .sidebar,
  main {
    width: 100%
  }

  .links::-webkit-scrollbar {
    display: none
  }

  .link:hover {
    background: var(--text-color);
    color: #00ff67;
    border: 1px solid var(--text-color)
  }

  .notice-slide {
    position: absolute;
    bottom: 0;
    background: var(--primary-accent);
    height: 28px;
    font-size: 15px;
    line-height: 29px
  }

  .banner {
    height: 60vh
  }

  main {
    top: 110vh;
    padding: 80px 2rem 2rem
  }

  .more-info {
    font-size: .85rem
  }

  .c-desc {
    height: auto;
    font-size: .75rem
  }

  .sidebar {
    position: absolute;
    top: 93.7vh;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    padding: 2rem;
    background: var(--bg-quaternary);
    margin: 0;
    z-index: 11;
    border: 0
  }

  .search-wrapper {
    display: none
  }

  .content-wrapper {
    height: 80%;
    border-radius: 15px;
    border: 1px solid #66666688
  }

  .card {
    border: 1px solid #70707027;
    padding: 12px
  }

  .card-text {
    font-size: 22px
  }

  .card span {
    font-size: 25px;
    background: var(--button-border);
    padding: 10px;
    border-radius: 50%
  }
}

.count {
  position: relative;
  top: 2rem;
  width: auto;
  height: auto;
  font-size: 15px;
  padding: 10px
}

.count img {
  width: 70px;
  height: 100%
}